<!DOCTYPE html>
<html lang="en-us" ng-app="myApp">
    <head>
        <title>Learn and Understand AngularJS</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">

        <!-- load bootstrap and fontawesome via CDN -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.7/css/bootstrap.min.css" />
		<link rel="stylesheet" href="font-css/bubble-css.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.4.4/randomColor.min.js"></script>
        <style>
            html, body, input, select, textarea
            {
                font-size: 1.05em;
            }
			#egyes, #kettes {
			  align-self: flex-start;
				text-align: center;
				font-size: 32vw;
				line-height: 1;
				min-height: 100%;
				margin: 0 0 5% 0;
				}
				.gomboc {
				  width: 3vmin;
			      height: 3vmin;
			      border-radius: 50%;
			      display: block;
			      float: left;
			      overflow: hidden;
				}
        </style>
        <!-- jquery should come before angular and bootsrap -->
		<script
			  src="https://code.jquery.com/jquery-1.12.4.js"
			  integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
			  crossorigin="anonymous"></script>
			  
        <!-- load angular via CDN 
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script> -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-animate.js"></script>
		<script src="angucomplete-master/angucomplete.js"></script>
		<!-- don't delete: this dummy link is necessary here -->
		<link/>
    </head>
    <body>

        <div class="container-fluid" ng-controller="mainController"
			style="max-height: 80vh;
			  padding: 0 0 5% 0;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;
				align-content: flex-start;">
			<div class="row">
			<!--
            <div class="col-lg-10 col-lg-offset-1" >
                <img src="{{ image }}"/>
            </div>
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
				Keyword: <input type="text" ng-model="keyword" /><a href="#" class="btn btn-default" ng-click="flickrQuery()">Add</a>
				</div>
			</div>
			-->
			<div id="egyes" class="col-xs-12 col-sm-6"><p id="na" style="font-family: {{ fontOne.originalObject.name }}; color: {{ colorOne }}"><span id="bu" style="font-family: {{ fontTwo.originalObject.name }};"></span>{{ character }}</p></div>
			<div id="kettes" class="col-xs-12 col-sm-6"><p id="no" style="font-family: {{ fontTwo.originalObject.name }}; color: {{ colorTwo }}"><span id="da" style="font-family: {{ fontOne.originalObject.name }};"></span>{{ character }}</p></div>
			<div id="ping" class="family col-xs-12 col-sm-6"></div>
			<div id="pong" class="family col-xs-12 col-sm-6"></div>
			</div>
			<div class="row">
			<form autocomplete="off" class="col-lg-12" style="min-width: 50vw;
						border: 2px solid red;
						border-radius: 1vw;">
				<div class="row">
				<!-- <button type="button" id="superbest" class="col-xs-12 col-md-offset-3 col-lg-6 btn btn-success"><p>SuperBest</p><p id="copytext"></p></button> -->
				</div>
				<div id="starter" class="row">
					<angucomplete id="ex1"
						placeholder="Search Google Fonts"
						pause="200"
						minlength="2"
						localdata="larch"
						selectedObject="fontOne"
						titlefield="name"
						datafield="name"
						searchfields="name"
						toggler="toggler()"
						class="col-lg-4 col-lg-offset-4"
						/>
				</div>
				<div class="row">
				<div ng-click="tester($event); $event.preventDefault(); $event.stopPropagation()"
					class="color col-lg-offset-6"
					style="width:3vmin; height: 3vmin; border-radius:50%; background-color: tomato;">
					<div class="bubble" style="display:none">
						<span class="gomboc"
							ng-repeat="item in farben"
							ng-click="fester($event, item.hex);
									$event.preventDefault();
									$event.stopPropagation();"
							style="background: {{ item.hex }};">
						</span>
					</div>
				</div>
				</div>
				<div id="second" class="row">
					<angucomplete id="ex2"
						placeholder="Search Google Fonts"
						pause="200"
						minlength="2"
						localdata="larch"
						selectedObject="fontTwo"
						titlefield="name"
						datafield="name"
						searchfields="name"
						toggler="toggler()"
						class="col-lg-4 col-lg-offset-4"
						/>	
				</div>
				<div class="row">
				<div ng-click="tester($event); $event.preventDefault(); $event.stopPropagation()" class="color col-lg-offset-6" style="width:3vmin; height: 3vmin; border-radius:50%; background-color: tomato;">
						<div class="bubble downside" style="display:none">
							<span class="gomboc" ng-repeat="item in farben" ng-click="bester($event, item.hex); $event.preventDefault(); $event.stopPropagation()" style="background: {{ item.hex }};"></span>
						</div>
					</div>
					</div>
				<div class="row">
					<input type="text" name="char" ng-keydown="toggler($event)" ng-model="character" ng-model-options="{debounce: 500}" style="font-size: .9em;" id="character" class="col-lg-4 col-lg-offset-4" placeholder="Enter character to compare" autocomplete="false" maxlength="1"/>
				</div>
			</form>
		</div>
		</div>
		
		<script src="app.js"></script>
		<script>
			$(document).ready(function(){
				
				var firstFont = document.querySelector('#font-one');
				var secondFont = document.querySelector('#font-two');
				//emptying the inputs
				$("#font-one").val('');
				$("#font-two").val('');
				/*
				function awesompleter(lista, input1, input2){
					var tom = new Awesomplete(input1);
					tom.list = lista;
					var jerry = new Awesomplete(input2);
					jerry.list = lista;
				}
				*/
				/*
				$.getJSON('https://www.googleapis.com/webfonts/v1/webfonts?sort=trending&key=AIzaSyCDe9HThI7KnVoHvEmffVwJ7D6VR8cFj1U', function(response) {
				//var fontNames = [];
				for (item in response.items) {
						fontNames.push({name: response.items[item].family});
						//fontNames.push(response.items[item].family);
						}
						
				//return awesompleter(fontNames, firstFont, secondFont);
				});
				*/
				});
				
		</script>
		<script src="bootstrap-3.3.5/js/bootstrap.min.js"></script>
		
    </body>
</html>
