html, body{
    margin: 0;
    padding: 0;
    max-height: 100%;
    overflow-x: hidden;
    /*font-size: 100%;
    line-height: 100%;*/
    /*min-height: 100%;
    height: 100%;*/
}
canvas {
    width: 100%;
    height: auto;
}
#top {
    font-family: Podkova;
    font-weight: bolder;
    font-size: 2vmin;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    border-radius: 1vw;
}
#top span {
    display: block;
}

#superbest {
	font-family: Neuton;
	font-size: 8vw;
	letter-spacing: 0.3vmin;
}
#copytext { font-size: 3vmin;}
#bigModal {
    height: 70vmin;
}
#reset {
  visibility: hidden;
  z-index: 2000;
  font-family: Podkova;
  text-transform: uppercase;
  /*width: 80vw;*/
}
/*input[type="text"] {
    width: 25vmin;
}
/* we'll use some other validation UI
:invalid:after {
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 1vw;
    bottom: 5vw;
    color: #fff;
    content: "Invalid font name.";
    left: 0.3vw;
    padding: 1vw 2vw;
    position: absolute;
    z-index: 98;
    width: 5vmin;
}
:-moz-ui-invalid:after {
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 1vw;
    bottom: 5vw;
    color: #fff;
    content: "Invalid font name.";
    left: 0.3vw;
    padding: 1vw 2vw;
    position: absolute;
    z-index: 98;
    width: 5vmin;
}*/
#colorDiv1, #colorDiv2 {
    min-height: 40vh;
}
.family {
    display: inline-block;
    font-size: 2.5vw;
    font-family: inherit;
    font-weight: 900;
    color: inherit;
}
#wrapper {
    max-height: 100vh;
}
#wrapper div:nth-of-type(3) {
    text-align: right;
}
#wrapper div:nth-of-type(4) {
    text-align: left;
}
#bu, #da {
    visibility: hidden;
	
}
#egyes, #kettes {
    /*position: absolute;*/
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-size: 30vw;
    top: -10vh;
    line-height: normal;
    transition: transform 2s ease;
    max-height: 100%;
}
#egyes {
    /*top: 5%; left: 0;*/
    color: red;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    z-index: 10;
}
#kettes {
   /* top: 5%; left: 75%;*/
    color: blue;
    z-index: 9;
}
.transformed1 {
    /*position: absolute;
    top: 50%;
    left: 50%;*/
    transform: translateX(50%);
    /*transform-origin: top left;*/
    -webkit-transform-origin: center;
    -webkit-transform: translateX(50%);
    transform-style: preserve-3D;
    -webkit-transform-style: preserve-3D;
}
.transformed2 {
    /*position: absolute;
    top: 50%;
    left: 50%;*/
    transform: translateX(-50%);
    /*transform-origin: top left;*/
    -webkit-transform-origin: center;
    -webkit-transform: translateX(-50%);
    transform-style: preserve-3D;
    -webkit-transform-style: preserve-3D;
}
.transformY1 {
    transform: translateY(50%);
    -webkit-transform-origin: center;
    -webkit-transform: translateY(50%);
    transform-style: preserve-3D;
    -webkit-transform-style: preserve-3D;
}
.transformY2 {
    transform: translateY(-50%);
    -webkit-transform-origin: center;
    -webkit-transform: translateY(-50%);
    transform-style: preserve-3D;
    -webkit-transform-style: preserve-3D;
}

@media all and (max-width:990px) {
    #egyes, #kettes {
        font-size: 45vw;
    }
    #reset {
        position: absolute;
        left: 45vw;
        top: 80vh;
    }
    #copytext{
        font-size: 4vw;
        word-wrap: break-word;
    }
    #top {
        font-size: 2.5vw;
    }
}
@media all and (min-width:990px) {
    #top {
        left: 25vw;
    }
	#resetButton, .family {
		top: -5vh;
	}
}
@media all and (max-width:760px) {
    #bigModal {
        height: 100vh;
    }
    .family {
        position: absolute;
        top: 0;
        float: left;
        font-size: 3vh;
    }
    #egyes, #kettes {
        font-size: 90vw;
        /*top: 20vh;
        left: 20vw;*/
    }
    #reset {
        position: absolute;
        left: 35vw;
        top: 20vh;
    }
}
@media (max-width:760px) and (orientation: landscape) {
  body {
    width:100vh;

    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}
